<div class="card">

  <div class="card-title center-middle">
    <h2>{{articleTitle}}</h2>
  </div>
  <div class="card-body">
    <p>{{intro}}</p>
    <div class="" *ngFor="let paragraph of body">
      <p>{{paragraph}}</p>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-md-10">
        <h3>By {{article.author}}</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" type="button" name="button" (click)="deleteArticle()">Delete Article!</button>
      </div>
    </div>
  </div>
</div>
