<div class="container-fluid">
  <div class="card-text row">
    <div class="col-md-6 bg-white">
      <h4>About {{title}}</h4>
      <h4>Random featured article</h4>
      <div class="card">
        <div class="card-title">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link active" routerLink="/articles/{{article.title}}">{{article.title}}</a></li>
          </ul>
        </div>
        <div class="card-body">
          <p>{{intro}}</p>
        </div>
      </div>
      <h4>Participate in {{title}}</h4>
      <div class="card">
        <div class="card-title">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link active" routerLink="new">Create a new article</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-lightgreen">
      <h4>Latest Content</h4>
      <h4>Portals and Articles</h4>
      <div class="card">
        <div class="card-title">
          <ul class="nav">
            <li class="nav-item"><a class="nav-link active" routerLink="articles">Article List</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
