<div class="container">
  <div class="card">
    <div class="card-header center-vertical">
      <h3>Create a New Article!</h3>
    </div>
    <div class="card-title center-vertical">
      <br>
      <label for="title">Title:</label>
      <input required type="text" name="title" value="" [(ngModel)]="title">
      <br>
      <label for="author">Author:</label>
      <input required type="text" name="author" value="" [(ngModel)]="author">
    </div>
    <div class="card-body center-vertical">
      <textarea required name="name" rows="8" cols="80" [(ngModel)]="paragraphs"></textarea>
    </div>
    <div class="card-footer center-vertical">
      <button class="btn btn-primary" type="submit" name="button" (click)="addArticle(author,title,paragraphs)">Submit Article!</button>
    </div>
  </div>
</div>
